services:
    -
        class: Bellangelo\PHPStanRequireFileExists\RequireFileExistsRule
        arguments:
           - @reflectionProvider
        tags: [phpstan.rules.rule]

parameters:
    phpVersion: 70400
    level: 9
    paths:
        - files
    scanDirectories:
        - ../src
    bootstrapFiles:
        - phpstan-testing-bootstrap.php
